## Q1. Creating DataFrame from dict of narray/lists

In [7]:
import pandas as pd
 
# initialise data of lists.
data = {'Category':['Square', 'Circle', 'Rectangle'],
        'Student_1':[20, 21, 19], 'Student_2':[15, 20, 14]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

    Category  Student_1  Student_2
0     Square         20         15
1     Circle         21         20
2  Rectangle         19         14

In [8]:
# Providing index list to dataframe 
import pandas as pd
 
# initialise data of lists.
data = {'Area':['Square', 'Circle', 'Rectangle'],
        'Student_1':[20, 21, 19], 'Student_2':[15, 20, 14]}
 
# Create DataFrame
df = pd.DataFrame(data, index =['0', '1', '2'])
 
# Print the output.
print(df)

        Area  Student_1  Student_2
0     Square         20         15
1     Circle         21         20
2  Rectangle         19         14

## Q2. Creating Pandas dataframe using list of lists

In [9]:
# Import pandas library
import pandas as pd
 
# initialize list of lists
data = [['Ankit', 10], ['Rahul', 15], ['Prashant', 20]]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Name', 'Age'])
 
# print dataframe.
print(df )

       Name  Age
0     Ankit   10
1     Rahul   15
2  Prashant   20

In [10]:
# Doing some operation of dataframe. 


# Import pandas library
import pandas as pd
 
# initialize list of lists
data = [[1, 5, 10], [2, 6, 9], [3, 7, 8]]
 
# Create the pandas DataFrame
df = pd.DataFrame(data)
 
# specifying column names
df.columns = ['Col_1', 'Col_2', 'Col_3']
 
# print dataframe.
print(df, "\n")
 
# transpose of dataframe
df = df.transpose()
print("Transpose of above dataframe is-\n", df)

   Col_1  Col_2  Col_3
0      1      5     10
1      2      6      9
2      3      7      8

Transpose of above dataframe is-
         0  1  2
Col_1   1  2  3
Col_2   5  6  7
Col_3  10  9  8

## Q3. Make a Pandas DataFrame with two-dimensional list

In [13]:
# import pandas as pd 
import pandas as pd  
      
# List1  
lst = [['Ankit', 25], ['Ram', 30], 
       ['Sourabh', 26], ['Mohan', 22]] 
  
# creating df object with columns specified    
df = pd.DataFrame(lst, columns =['Name', 'number']) 
print(df )

      Name  number
0    Ankit      25
1      Ram      30
2  Sourabh      26
3    Mohan      22

# Q4. Creating a Pandas dataframe using list of tuples

In [16]:
#Code_1: Simply passing tuple to DataFrame constructor.


# import pandas to use pandas DataFrame
import pandas as pd
  
# data in the form of list of tuples
data = [('Peter', 18, 7),
        ('Riff', 15, 6),
        ('John', 17, 8),
        ('Michel', 18, 7),
        ('Sheli', 17, 5) ]
  
#create DataFrame using data

df = pd.DataFrame(data, columns =['Name', 'Age', 'Score'])
  
print(df)

     Name  Age  Score
0   Peter   18      7
1    Riff   15      6
2    John   17      8
3  Michel   18      7
4   Sheli   17      5

In [17]:
#Code_2: Using from_records()


import pandas as pd
  
# data in the form of list of tuples
data = [('Peter', 18, 7),
        ('Riff', 15, 6),
        ('John', 17, 8),
        ('Michel', 18, 7),
        ('Sheli', 17, 5) ]
  
#create DataFrame using data
df = pd.DataFrame.from_records(data, columns =['Team', 'Age', 'Score'])
  
print(df)

     Team  Age  Score
0   Peter   18      7
1    Riff   15      6
2    John   17      8
3  Michel   18      7
4   Sheli   17      5

In [22]:
#Code_3: Using from_items()


import pandas as pd
  
# data in the form of list of tuples
data = [
('Age', [18, 15, 17, 18, 17]),
('Team', ['A', 'B', 'A', 'C', 'B']),
('Score', [7, 6, 8, 7, 5]),
]
  
# create DataFrame using data
df = pd.DataFrame.items(data)
print(df)

<generator object DataFrame.items at 0x7fe989d7e2e0>

## Q5. Create a Pandas DataFrame from List of Dicts

In [25]:
# Code_1:
# Python code demonstrate how to create  
# Pandas DataFrame by lists of dicts. 
import pandas as pd 
    
# Initialise data to lists. 
data = [{'FName': 'Ankit', 'LName': 'Sharma', 'Location': 'Bihar'},
        {'FName':10, 'LName': 20, 'Location': 30}] 
    
# Creates DataFrame. 
df = pd.DataFrame(data) 
    
# Print the data 
df

   FName   LName Location
0  Ankit  Sharma    Bihar
1     10      20       30

In [26]:
#Code_2: With index and columns

# Python code demonstrate how to create  
# Pandas DataFrame by lists of dicts. 
import pandas as pd 
    
# Initialise data to lists. 
data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'},
        {'Geeks':10, 'For': 20, 'geeks': 30}] 
    
# With two column indices, values same  
# as dictionary keys 
df1 = pd.DataFrame(data, index =['ind1', 'ind2'],
                      columns =['Geeks', 'For']) 
     
# With two column indices with  
# one index with other name 
df2 = pd.DataFrame(data, index =['indx', 'indy']) 
     
# print for first data frame 
print (df1, "\n") 
     
# Print for second DataFrame. 
print (df2)

          Geeks    For
ind1  dataframe  using
ind2         10     20

          Geeks    For geeks
indx  dataframe  using  list
indy         10     20    30

## Q6. Convert list of nested dictionary into Pandas dataframe

In [29]:
#Step_1: Creating a list of nested dictionary.


# importing pandas
import pandas as pd
  
# List of nested dictionary initialization
list = [
        {
        "Student": [{"Exam": 90, "Grade": "a"},
                    {"Exam": 99, "Grade": "b"},
                    {"Exam": 97, "Grade": "c"},
                   ],
        "Name": "Paras Jain"
        },
        {
        "Student": [{"Exam": 89, "Grade": "a"},
                    {"Exam": 80, "Grade": "b"}
                   ],
        "Name": "Chunky Pandey"
        }
       ]
print(list)

[{'Student': [{'Exam': 90, 'Grade': 'a'}, {'Exam': 99, 'Grade': 'b'}, {'Exam': 97, 'Grade': 'c'}], 'Name': 'Paras Jain'}, {'Student': [{'Exam': 89, 'Grade': 'a'}, {'Exam': 80, 'Grade': 'b'}], 'Name': 'Chunky Pandey'}]

In [30]:
#Step_2: Adding dict values to rows.


# rows list initialization
rows = []
  
# appending rows
for data in list:
    data_row = data['Student']
    time = data['Name']
      
    for row in data_row:
        row['Name']= time
        rows.append(row)

# using data frame
df = pd.DataFrame(rows)
  
print(df)

   Exam Grade           Name
0    90     a     Paras Jain
1    99     b     Paras Jain
2    97     c     Paras Jain
3    89     a  Chunky Pandey
4    80     b  Chunky Pandey

In [31]:
#Step_3: Pivoting dataframe and assigning column names.


# using pivot_table
df = df.pivot_table(index ='Name', columns =['Grade'],
                        values =['Exam']).reset_index()
  
# Defining columns
df.columns =['Name', 'Maths', 'Physics', 'Chemistry']
  
# print dataframe
print(df)

            Name  Maths  Physics  Chemistry
0  Chunky Pandey   89.0     80.0        NaN
1     Paras Jain   90.0     99.0       97.0

# Q7. Replace values in Pandas dataframe using regex

<b><u>Problem #1 :</u></b> You are given a dataframe which contains the details about various events in different cities. For those cities which starts with the keyword ‘New’ or ‘new’, change it to ‘New_’.

<b><u>Solution :</u></b> We are going to use regular expression to detect such names and then we will use Dataframe.replace() function to replace those names.

In [32]:
# importing pandas as pd
import pandas as pd
  
# Let's create a Dataframe
df = pd.DataFrame({'City':['New York', 'Parague', 'New Delhi', 'Venice', 'new Orleans'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy', 'Tech_Summit'],
                    'Cost':[10000, 5000, 15000, 2000, 12000]})
  
# Let's create the index
index_ = [pd.Period('02-2018'), pd.Period('04-2018'),
          pd.Period('06-2018'), pd.Period('10-2018'), pd.Period('12-2018')]
  
# Set the index
df.index = index_
  
# Let's print the dataframe
print(df)

                City        Event   Cost
2018-02     New York        Music  10000
2018-04      Parague       Poetry   5000
2018-06    New Delhi      Theatre  15000
2018-10       Venice       Comedy   2000
2018-12  new Orleans  Tech_Summit  12000

Now we will write the <b><u>regular expression</u></b> to match the string and then we will use Dataframe.replace() function to replace those names.

In [33]:
# replace the matching strings
df_updated = df.replace(to_replace ='[nN]ew', value = 'New_', regex = True)
  
# Print the updated dataframe
print(df_updated)

                 City        Event   Cost
2018-02     New_ York        Music  10000
2018-04       Parague       Poetry   5000
2018-06    New_ Delhi      Theatre  15000
2018-10        Venice       Comedy   2000
2018-12  New_ Orleans  Tech_Summit  12000

<b><u>Problem #2 :</u></b> You are given a dataframe which contains the details about various events in different cities. The names of certain cities contain some additional details enclosed in a bracket. Search for such names and remove the additional details.

<b><u>Solution :</u></b> For this task, we will write our own customized function using regular expression to identify and update the names of those cities. Additionally, We will use Dataframe.apply() function to apply our customized function on each values the column.

In [34]:
# importing pandas as pd
import pandas as pd
  
# Let's create a Dataframe
df = pd.DataFrame({'City':['New York (City)', 'Parague', 'New Delhi (Delhi)', 'Venice', 'new Orleans'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy', 'Tech_Summit'],
                    'Cost':[10000, 5000, 15000, 2000, 12000]})
  
# Let's create the index
index_ = [pd.Period('02-2018'), pd.Period('04-2018'),
          pd.Period('06-2018'), pd.Period('10-2018'), pd.Period('12-2018')]
  
# Set the index
df.index = index_
  
# Let's print the dataframe
print(df)

                      City        Event   Cost
2018-02    New York (City)        Music  10000
2018-04            Parague       Poetry   5000
2018-06  New Delhi (Delhi)      Theatre  15000
2018-10             Venice       Comedy   2000
2018-12        new Orleans  Tech_Summit  12000

Now we will write our own customized function to match the description in the names of the cities.

In [35]:
# Importing re package for using regular expressions
import re
  
# Function to clean the names
def Clean_names(City_name):
    # Search for opening bracket in the name followed by
    # any characters repeated any number of times
    if re.search('\(.*', City_name):
  
        # Extract the position of beginning of pattern
        pos = re.search('\(.*', City_name).start()
  
        # return the cleaned name
        return City_name[:pos]
  
    else:
        # if clean up needed return the same name
        return City_name
          
# Updated the city columns
df['City'] = df['City'].apply(Clean_names)
  
# Print the updated dataframe
print(df)

                City        Event   Cost
2018-02    New York         Music  10000
2018-04      Parague       Poetry   5000
2018-06   New Delhi       Theatre  15000
2018-10       Venice       Comedy   2000
2018-12  new Orleans  Tech_Summit  12000

## Q8. Creating Dataframe from Series

In [36]:
# Code_1:
import pandas as pd
import matplotlib.pyplot as plt
  
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210, 211, 114, 178]
  
auth_series = pd.Series(author)
article_series = pd.Series(article)
  
frame = { 'Author': auth_series, 'Article': article_series }
  
result = pd.DataFrame(frame)
  
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178

In [37]:
#Code_2: Missing value in dataframe


import pandas as pd
import matplotlib.pyplot as plt
  
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210, 211, 114, 178]
  
auth_series = pd.Series(author)
article_series = pd.Series(article)
  
frame = { 'Author': auth_series, 'Article': article_series }
  
result = pd.DataFrame(frame)
age = [21, 21, 23]
  
result['Age'] = pd.Series(age)
  
print(result)

     Author  Article   Age
0  Jitender      210  21.0
1   Purnima      211  21.0
2     Arpit      114  23.0
3     Jyoti      178   NaN

In [44]:
#Code_3: Data Plot on graph

Using plot.bar() we have created a bar graph.

import pandas as pd
import matplotlib.pyplot as plt
  
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210, 211, 114, 178]
  
auth_series = pd.Series(author)
article_series = pd.Series(article)
  
frame = { 'Author': auth_series, 'Article': article_series }
  
result = pd.DataFrame(frame)
age = [21, 21, 24, 23]
  
result['Age'] = pd.Series(age)
result.plot.bar()
plt.show()

SyntaxError: invalid syntax (<ipython-input-44-89410783750a>, line 3)

## Q9. Construct a DataFrame in Pandas using string data

<b><u>Solution #1:</u></b> One way to achieve this is by using the StringIO() function. It will act as a wrapper and it will help use read the data using the pd.read_csv() function.

In [45]:
# importing pandas as pd
import pandas as pd
  
# import the StrinIO function
# from io module
from io import StringIO
  
# wrap the string data in StringIO function
StringData = StringIO("""Date;Event;Cost
    10/2/2011;Music;10000
    11/2/2011;Poetry;12000
    12/2/2011;Theatre;5000
    13/2/2011;Comedy;8000
    """)
  
# let's read the data using the Pandas
# read_csv() function
df = pd.read_csv(StringData, sep =";")
  
# Print the dataframe
print(df)

            Date    Event   Cost
0      10/2/2011    Music  10000
1      11/2/2011   Poetry  12000
2      12/2/2011  Theatre   5000
3      13/2/2011   Comedy   8000

# Q10. Reindexing in Pandas DataFrame

<b><u>1. Reindexing the Rows</u></b>

In [50]:
# Example_1
# import numpy and pandas module
import pandas as pd
import numpy as np
 
column=['a','b','c','d','e']
index=['A','B','C','D','E']
 
# create a dataframe of random values of array
df1 = pd.DataFrame(np.random.rand(5,5),
            columns=column, index=index)
 
print(df1)
 
print('\n\nDataframe after reindexing rows: \n',
df1.reindex(['B', 'D', 'A', 'C', 'E']))

          a         b         c         d         e
A  0.723723  0.940486  0.350142  0.485010  0.064862
B  0.457575  0.451618  0.175255  0.852166  0.605766
C  0.197992  0.068249  0.195656  0.158807  0.228715
D  0.865133  0.518107  0.302699  0.268373  0.489687
E  0.771472  0.794493  0.514997  0.549038  0.360349


Dataframe after reindexing rows:
           a         b         c         d         e
B  0.457575  0.451618  0.175255  0.852166  0.605766
D  0.865133  0.518107  0.302699  0.268373  0.489687
A  0.723723  0.940486  0.350142  0.485010  0.064862
C  0.197992  0.068249  0.195656  0.158807  0.228715
E  0.771472  0.794493  0.514997  0.549038  0.360349

In [51]:
# Example_2
# import numpy and pandas module
import pandas as pd
import numpy as np
 
column = ['a', 'b', 'c', 'd', 'e']
index = ['A', 'B', 'C', 'D', 'E']
  
# create a dataframe of random values of array
df1 = pd.DataFrame(np.random.rand(5, 5),
        columns = column, index = index)
 
# create the new index for rows
new_index =['U', 'A', 'B', 'C', 'Z']
 
print(df1.reindex(new_index))

          a         b         c         d         e
U       NaN       NaN       NaN       NaN       NaN
A  0.587834  0.826723  0.720571  0.949797  0.152350
B  0.522813  0.771512  0.675770  0.317559  0.067367
C  0.587671  0.790022  0.597978  0.901139  0.544736
Z       NaN       NaN       NaN       NaN       NaN

<b><u>2. Reindexing the columns using axis keyword</u></b>

In [52]:
# Example_1
# import numpy and pandas module
import pandas as pd
import numpy as np
 
column=['a','b','c','d','e']
index=['A','B','C','D','E']
 
#create a dataframe of random values of array
df1 = pd.DataFrame(np.random.rand(5,5),
           columns=column, index=index)
 
column=['e','a','b','c','d']
  
# create the new index for columns
print(df1.reindex(column, axis='columns'))

          e         a         b         c         d
A  0.022294  0.242361  0.809282  0.533365  0.132788
B  0.968887  0.721774  0.343451  0.819911  0.982922
C  0.253822  0.954325  0.621577  0.041742  0.344535
D  0.842866  0.007699  0.536678  0.218962  0.820444
E  0.089379  0.669590  0.711810  0.491941  0.086996

In [53]:
# Example_2
# import numpy and pandas module
import pandas as pd
import numpy as np
 
column =['a', 'b', 'c', 'd', 'e']
index =['A', 'B', 'C', 'D', 'E']
  
# create a dataframe of random values of array
df1 = pd.DataFrame(np.random.rand(5, 5),
        columns = column, index = index)
 
column =['a', 'b', 'c', 'g', 'h']
 
# create the new index for columns
print(df1.reindex(column, axis ='columns'))

          a         b         c   g   h
A  0.001874  0.885425  0.370760 NaN NaN
B  0.622897  0.116975  0.932086 NaN NaN
C  0.372160  0.294784  0.195328 NaN NaN
D  0.539279  0.422248  0.671529 NaN NaN
E  0.432512  0.029294  0.288954 NaN NaN

<b><u>3. Replacing the missing values</u></b>

In [54]:
# Example_1
# import numpy and pandas module
import pandas as pd
import numpy as np
 
column =['a', 'b', 'c', 'd', 'e']
index =['A', 'B', 'C', 'D', 'E']
  
# create a dataframe of random values of array
df1 = pd.DataFrame(np.random.rand(5, 5),
        columns = column, index = index)
 
column =['a', 'b', 'c', 'g', 'h']
 
# create the new index for columns
print(df1.reindex(column, axis ='columns', fill_value = 1.5))

          a         b         c    g    h
A  0.982947  0.307128  0.948868  1.5  1.5
B  0.725982  0.998537  0.558238  1.5  1.5
C  0.351776  0.950213  0.557521  1.5  1.5
D  0.209021  0.485437  0.359962  1.5  1.5
E  0.801824  0.411216  0.328434  1.5  1.5

In [55]:
# Example_2
# import numpy and pandas module
import pandas as pd
import numpy as np
 
column =['a', 'b', 'c', 'd', 'e']
index =['A', 'B', 'C', 'D', 'E']
  
# create a dataframe of random values of array
df1 = pd.DataFrame(np.random.rand(5, 5),
       columns = column, index = index)
 
column =['a', 'b', 'c', 'g', 'h']
 
# create the new index for columns
print(df1.reindex(column, axis ='columns', fill_value ='data missing'))

          a         b         c             g             h
A  0.601784  0.224785  0.740792  data missing  data missing
B  0.510012  0.580654  0.534879  data missing  data missing
C  0.439970  0.768225  0.234199  data missing  data missing
D  0.727777  0.407433  0.370152  data missing  data missing
E  0.526886  0.167292  0.275959  data missing  data missing

## Q11. Reshape a pandas DataFrame using stack,unstack and melt method

In [56]:
import pandas as pd
  
# making dataframe
df = pd.read_csv("nba.csv")
# it was print the first 5-rows
print(df.head())

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0

<b><u>1. Using stack() method:</u></b><br>
Stack method works with the MultiIndex objects in DataFrame, it returning a DataFrame with an index with a new inner-most level of row labels. It changes the wide table to a long table.

In [57]:
# import pandas module
import pandas as pd
  
# making dataframe
df = pd.read_csv("nba.csv")
  
# reshape the dataframe using stack() method
df_stacked = df.stack()
  
print(df_stacked.head(26))

0  Name            Avery Bradley
   Team           Boston Celtics
   Number                    0.0
   Position                   PG
   Age                      25.0
   Height                    6-2
   Weight                  180.0
   College                 Texas
   Salary              7730337.0
1  Name              Jae Crowder
   Team           Boston Celtics
   Number                   99.0
   Position                   SF
   Age                      25.0
   Height                    6-6
   Weight                  235.0
   College             Marquette
   Salary              6796117.0
2  Name             John Holland
   Team           Boston Celtics
   Number                   30.0
   Position                   SG
   Age                      27.0
   Height                    6-5
   Weight                  205.0
   College     Boston University
dtype: object

<b><u>2. Using unstack() method:</u></b><br>
unstack is similar to stack method, It also works with multi-index objects in dataframe, producing a reshaped DataFrame with a new inner-most level of column labels.

In [58]:
# import pandas module
import pandas as pd
  
# making dataframe
df = pd.read_csv("nba.csv")
  
# unstack() method
df_unstacked = df_stacked.unstack()
print(df_unstacked.head(10))

            Name            Team Number Position   Age Height Weight  \
0  Avery Bradley  Boston Celtics    0.0       PG  25.0    6-2  180.0
1    Jae Crowder  Boston Celtics   99.0       SF  25.0    6-6  235.0
2   John Holland  Boston Celtics   30.0       SG  27.0    6-5  205.0
3    R.J. Hunter  Boston Celtics   28.0       SG  22.0    6-5  185.0
4  Jonas Jerebko  Boston Celtics    8.0       PF  29.0   6-10  231.0
5   Amir Johnson  Boston Celtics   90.0       PF  29.0    6-9  240.0
6  Jordan Mickey  Boston Celtics   55.0       PF  21.0    6-8  235.0
7   Kelly Olynyk  Boston Celtics   41.0        C  25.0    7-0  238.0
8   Terry Rozier  Boston Celtics   12.0       PG  22.0    6-2  190.0
9   Marcus Smart  Boston Celtics   36.0       PG  22.0    6-4  220.0

             College      Salary
0              Texas   7730337.0
1          Marquette   6796117.0
2  Boston University         NaN
3      Georgia State   1148640.0
4                NaN   5000000.0
5                NaN  12000000.0
6                LSU   1170960.0
7            Gonzaga   2165160.0
8         Louisville   1824360.0
9     Oklahoma State   3431040.0

<b><u>3. Using melt() method:</u></b><br>
Melt in pandas reshape dataframe from wide format to long format. It uses the “id_vars[‘col_names’]” for melt the dataframe by column names.

In [59]:
# import pandas module
import pandas as pd
  
# making dataframe
df = pd.read_csv("nba.csv")
  
# it takes two columns "Name" and "Team"
df_melt = df.melt(id_vars =['Name', 'Team']) 
print(df_melt.head(10))

            Name            Team variable value
0  Avery Bradley  Boston Celtics   Number   0.0
1    Jae Crowder  Boston Celtics   Number  99.0
2   John Holland  Boston Celtics   Number  30.0
3    R.J. Hunter  Boston Celtics   Number  28.0
4  Jonas Jerebko  Boston Celtics   Number   8.0
5   Amir Johnson  Boston Celtics   Number  90.0
6  Jordan Mickey  Boston Celtics   Number  55.0
7   Kelly Olynyk  Boston Celtics   Number  41.0
8   Terry Rozier  Boston Celtics   Number  12.0
9   Marcus Smart  Boston Celtics   Number  36.0

## Q12. How are iloc() and loc() different?

<b><u>Answer</u></b><br>
<ol><b><u>DataFrame.iloc</u></b> is a method used to retrieve data from a Data frame, and it is an integer position-based locator (from 0 to length-1 of the axis), but may also be used with a boolean array. It takes input as integer, arrays of integers, a slice object, boolean array and functions.

In [60]:
df.iloc[0]
df.iloc[-5:]
df.iloc[:, 2]    # the : in the first position indicates all rows
df.iloc[:3, :3] # The upper-left 3 X 3 entries (assuming df has 3+ rows and columns)

            Name            Team  Number
0  Avery Bradley  Boston Celtics     0.0
1    Jae Crowder  Boston Celtics    99.0
2   John Holland  Boston Celtics    30.0

<ol><b><u>DataFrame.loc</u></b> gets rows (and/or columns) with particular labels. It takes input as a single label, list of arrays and slice objects with labels.

In [61]:
df = pd.DataFrame(index=['a', 'b', 'c'], columns=['time', 'date', 'name'])
df.loc['a']     # equivalent to df.iloc[0]
df.loc['b':, 'date']   # equivalent to df.iloc[1:, 1]

b    NaN
c    NaN
Name: date, dtype: object

## Q13. How can you sort the DataFrame?

The function used for sorting in pandas is called <b><u>DataFrame.sort_values()</u></b>. It is used to sort a DataFrame by its column or row values. The function comes with a lot of parameters, but the most important ones to consider for sort are:

<ol><b><u>by:</u></b> The optional by parameter is used to specify the column/row(s) which are used to determine the sorted order.<br>
<b><u>axis:</u></b> specifies whether sort for row (0) or columns (1),<br>
<b><u>ascending:</u></b> specifies whether to sort the dataframe in ascending or descending order. The default value is ascending. To sort in descending order, we need to specify ascending=False.

In [63]:
df = pd.DataFrame({
    'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    'col2': [2, 1, 9, 8, 7, 4],
    'col3': [0, 1, 9, 4, 2, 3],
    'col4': ['a', 'B', 'c', 'D', 'e', 'F']
})
df

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F

In [64]:
#Sort by col1
df.sort_values(by=['col1'])

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
5    C     4     3    F
4    D     7     2    e
3  NaN     8     4    D

In [65]:
# Sort by multiple columns
df.sort_values(by=['col1', 'col2'])

  col1  col2  col3 col4
1    A     1     1    B
0    A     2     0    a
2    B     9     9    c
5    C     4     3    F
4    D     7     2    e
3  NaN     8     4    D

In [66]:
# Sort descending
df.sort_values(by='col1', ascending=False)

  col1  col2  col3 col4
4    D     7     2    e
5    C     4     3    F
2    B     9     9    c
0    A     2     0    a
1    A     1     1    B
3  NaN     8     4    D